USE [master]
GO
/****** Object:  Database [Shop]    Script Date: 02/12/2016 3:04:14 CH ******/
CREATE DATABASE [Shop]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Shop', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\Shop.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Shop_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\Shop_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Shop].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Shop]
GO
/****** Object:  Table [dbo].[clothingTBL]    Script Date: 02/12/2016 3:04:14 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[clothingTBL](
	[clothingID] [int] IDENTITY(1,1) NOT NULL,
	[clothingName] [varchar](150) NOT NULL,
	[styleID] [int] NOT NULL,
	[sizeID] [int] NOT NULL,
	[colorID] [int] NOT NULL,
	[materialID] [int] NOT NULL,
	[image] [image] NULL,
 CONSTRAINT [PK_clothingTBL] PRIMARY KEY CLUSTERED 
(
	[clothingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[colorID]    Script Date: 02/12/2016 3:04:14 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[colorID](
	[colorID] [int] NOT NULL,
	[colorName] [varchar](50) NOT NULL,
 CONSTRAINT [PK_colorID] PRIMARY KEY CLUSTERED 
(
	[colorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[materialTBL]    Script Date: 02/12/2016 3:04:14 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[materialTBL](
	[materialID] [int] NOT NULL,
	[materialName] [varchar](50) NOT NULL,
 CONSTRAINT [PK_materialTBL] PRIMARY KEY CLUSTERED 
(
	[materialID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[sizeTBL]    Script Date: 02/12/2016 3:04:14 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[sizeTBL](
	[sizeID] [int] NOT NULL,
	[sizeName] [varchar](50) NOT NULL,
 CONSTRAINT [PK_sizeTBL] PRIMARY KEY CLUSTERED 
(
	[sizeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[styleTBL]    Script Date: 02/12/2016 3:04:14 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[styleTBL](
	[styleID] [int] NOT NULL,
	[styleName] [varchar](50) NOT NULL,
 CONSTRAINT [PK_styleTBL] PRIMARY KEY CLUSTERED 
(
	[styleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[clothingTBL] ON 

SET IDENTITY_INSERT [dbo].[clothingTBL] OFF
INSERT [dbo].[colorID] ([colorID], [colorName]) VALUES (1, N'black')
INSERT [dbo].[colorID] ([colorID], [colorName]) VALUES (2, N'blue')
INSERT [dbo].[colorID] ([colorID], [colorName]) VALUES (3, N'brown')
INSERT [dbo].[materialTBL] ([materialID], [materialName]) VALUES (1, N'100% Cotton')
INSERT [dbo].[materialTBL] ([materialID], [materialName]) VALUES (2, N'50/50')
INSERT [dbo].[materialTBL] ([materialID], [materialName]) VALUES (3, N'Triblend')
INSERT [dbo].[sizeTBL] ([sizeID], [sizeName]) VALUES (1, N's')
INSERT [dbo].[sizeTBL] ([sizeID], [sizeName]) VALUES (2, N'm')
INSERT [dbo].[sizeTBL] ([sizeID], [sizeName]) VALUES (3, N'l')
INSERT [dbo].[styleTBL] ([styleID], [styleName]) VALUES (1, N'tee')
INSERT [dbo].[styleTBL] ([styleID], [styleName]) VALUES (2, N'crewneck')
INSERT [dbo].[styleTBL] ([styleID], [styleName]) VALUES (4, N'hoody')
USE [master]
GO
